[submodule "magit"]
	path = magit
	url = git://github.com/magit/magit.git
[submodule "neotree"]
	path = neotree
	url = https://github.com/jaypei/emacs-neotree.git
[submodule "iedit"]
	path = iedit
	url = git://github.com/victorhge/iedit.git
[submodule "nrepl.el"]
	path = nrepl.el
	url = http://github.com/kingtim/nrepl.el
[submodule "undo-tree"]
	path = undo-tree
	url = https://github.com/emacsmirror/undo-tree.git
[submodule "pdee"]
	path = pdee
	url = https://github.com/pdee/pdee.git
[submodule "pretty-mode"]
	path = pretty-mode
	url = https://github.com/emacsmirror/pretty-mode.git
[submodule "smarttabs"]
	path = smarttabs
	url = https://github.com/jcsalomon/smarttabs.git
[submodule "autopair"]
	path = autopair
	url = https://github.com/capitaomorte/autopair.git
[submodule "tuareg"]
	path = tuareg
	url = https://github.com/emacsmirror/tuareg.git
[submodule "pymacs"]
	path = pymacs
	url = https://github.com/pinard/Pymacs.git
[submodule "modelica-mode"]
	path = modelica-mode
	url = https://github.com/dietmarw/modelica-mode.git
[submodule "smartparens"]
	path = smartparens
	url = https://github.com/Fuco1/smartparens.git
[submodule "cedet"]
	path = cedet
	url = https://github.com/emacsmirror/cedet.git
[submodule "multiple-cursors"]
	path = multiple-cursors
	url = git://github.com/magnars/multiple-cursors.el.git
[submodule "haskell-mode"]
	path = haskell-mode
	url = https://github.com/haskell/haskell-mode.git
[submodule "structured-haskell-mode"]
	path = structured-haskell-mode
	url = https://github.com/chrisdone/structured-haskell-mode.git
[submodule "flycheck-d-unittest"]
	path = flycheck-d-unittest
	url = https://github.com/flycheck/flycheck-d-unittest.git
[submodule "cask"]
	path = cask
	url = https://github.com/cask/cask.git
[submodule "tup-mode"]
	path = tup-mode
	url = https://github.com/ejmr/tup-mode.git
[submodule "swift-mode"]
	path = swift-mode
	url = https://github.com/iamleeg/swift-mode.git
[submodule "spray"]
	path = spray
	url = https://github.com/zk-phi/spray.git
[submodule "flycheck-nordlow"]
	path = flycheck
	url = https://github.com/nordlow/flycheck.git
[submodule "emacs-dbgr"]
	path = emacs-dbgr
	url = https://github.com/nordlow/emacs-dbgr.git
[submodule "ac-dcd"]
	path = ac-dcd
	url = https://github.com/atilaneves/ac-dcd.git
[submodule "yasnippet"]
	path = yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule "demangle-mode"]
	path = demangle-mode
	url = https://github.com/liblit/demangle-mode.git
