[submodule "magit"]
	path = magit
	url = git://github.com/magit/magit.git
[submodule "neotree"]
	path = neotree
	url = https://github.com/jaypei/emacs-neotree.git
[submodule "iedit"]
	path = iedit
	url = git://github.com/victorhge/iedit.git
